body,html{
    background:#FDF5E6;
    font-family: Arial, Helvetica, sans-serif;

}

main{
    width:800px;
    margin:0 auto;
}

table{
    margin:5px 0;
    width:100%;
}
th{
    background:#BFBEAC;
    padding-bottom: 2px;
    padding-top:2px;
}
th+th{
    border-right:1px solid rgba(0,0,0,0);
}

th,td{
    padding-left:5px;
    padding-right:5px;    
}

#pages, #menu{    
    float:none;
    clear:both;
    text-align: right;
    vertical-align: middle;
    height:20px;
    line-height: 20px;
}

#pages form{
    float:right;
    margin-left:5px;
}

#menu form{
    float:left;
    margin-right:5px;
}